.TaskDetail {
  padding: 2% 5%;
  color: white;
}

.TaskDetail-title {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.TaskDetail-description {
  font-size: 1.9rem;
  margin-bottom: 2.5rem;
}

.TaskDetail-status {
  margin-left: 3%;
  margin-top: 1%;
  background-color: rgb(255, 150, 109);
  padding: 1rem 1.1rem;
  border-radius: 8px;
  color:white;
  font-weight: 700;
  font-size: 1.4rem;
  cursor: pointer;
}

.TaskDetail-status, .TaskDetail-status > .tooltiptext{
  bottom: -50%;
}

.TaskDetail-icon-btn {
  float: right;
  margin-right: 5%;
}