@import '../mixins';

.TackyCard {
  color: black;
  padding: 1.8rem;
  width: fit-content;
  max-width: 45%;
  @include card-display;
  margin: 0.5rem;
}

.TackyCard-title {
  @include card-title;
}

.TackyCard-body {
  font-size: 1.3rem;
}