.TaskList-new-task-button {
  cursor: pointer;
  align-self: flex-end;
  margin: 0 5% 0.7rem 0;
  color: rgb(179, 179, 179);
}

.TaskList {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}