.NewTackynoteForm {
  background-color: rgba(32, 32, 34, 0.5);
  padding: 0.7rem;
  border-radius: 10px;
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.NewTackynoteForm-container {
  position: absolute;
  right: 5%;
  top: 15%;
  z-index: 1000;
}


.NewTackynoteForm > * {
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

.NewTackynoteForm > h3 {
  font-size: 2rem;
}

.NewTackynoteForm > input, textarea {
  padding: 0.5rem 1.5rem;
  height: 3rem;
  border-radius: 5px;
  max-width: 45rem;
}

.NewTackynoteForm > button {
  margin-top: 0.3rem;
  padding: 0.5rem;
  border: none;
  color: white;
  text-transform: uppercase;
  background-color: rgb(73, 167, 255);
}