.NavBar-list {
  z-index: 5;
  position: absolute;
  display: flex;
  flex-direction: row;
  right: 0rem;
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 10px;
}


.NavBar-item {
  padding: 1rem 3rem;
  font-size: 1.5rem;
}

.NavBar-item > a, span,
.NavBar-item > a:visited {
  color: black;
  cursor: pointer;
}