@import "./variable";

@mixin card-display {
  cursor: pointer;
  border-radius: 10px;
  background-color: white;
  box-shadow: $boxShadowColor
}

@mixin card-title {
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
}