*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

a{
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto;
}

path {
  cursor: pointer;
}

/* tooltip code from W3Schools */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: fit-content;
  background-color: rgb(17, 17, 17);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 5px 3px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 90%;
  left: 105%;
  margin-left: -50px;
  font-size: 1.4rem;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 0.4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

