.LoginForm {
  position: absolute;
  right: 0;
  top: 0;
  border-left: 1px solid rgb(207, 207, 207);
  background: white;
  height: 100%;
  padding: 15rem 10rem 0rem 10rem;
}

.LoginForm-signup {
  margin-top: 0.5rem;
}

.LoginForm > form {
  display: flex;
  flex-direction: column;
  width: 25rem;
  margin-top: 1rem;
}

.LoginForm > form > input {
  padding: 0.6rem 0 0.6rem 5rem;
  margin-top: 0.5rem;
  border: 1px rgb(163, 163, 163) solid;
  letter-spacing: 0.5px;
  border-radius: 10px;
}

.LoginForm > form > button {
  margin-top: 2rem;
  background-color: rgb(123, 206, 0);
  font-weight: 800;
  padding: 1rem;
  color: white;
  border: none;
  letter-spacing: 0.5px;
  border-radius: 10px;
}